.authorbio {
  padding: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;

  margin: 10px;
}
.IA-details-container {
  /* margin: auto; */
  margin-top: 80px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 20px 3%; */
}
.IA-details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid black; */
  margin: 30px auto;
  padding: 30px 0px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.03);
}
.authimage {
  border-radius: 20%;
  height: 50%;
  max-width: 70%;
  max-height: 70%;
  width: 50%;
  color: rgb(245, 248, 251);

  margin: 45px;
}
.qualification-title,
.date {
  color: #f23f80;
}

.Issuingname {
  padding: 5%;
  margin: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;

  background: #41246d;
  border-radius: 10%;
  margin: 72px;
}

.Issuingname {
  position: relative;
  text-align: center;
  margin-top: -80px;
  /* Adjust this value to overlap the image as needed */
  max-width: 60%;
}

.smaller-name {
  font-size: 24px; /* Adjust the font size as needed */
  /* Ensure visibility against the image background */
  padding: 5px; /* Add padding for better readability */
}
.experience-info {
  padding: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;

  margin: 0px;
}
.experience-heading {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
/* YourComponent.css */

.author-img-wrapper {
  position: relative;
}

.icon-image {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 40px; /* Adjust the width as needed */
  max-width: 40%;
  max-height: 40%;
  height: auto; /* Maintain aspect ratio */
}
.about {
  color: #f23f80;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.abouttext {
  padding: 10px;
}

/* Other styles for your component */
.span {
  color: #f23f80;
}
/* CSS for the initial positions and transition effect */
.container3 {
  display: flex;
  flex-direction: row-reverse; /* Initially reverse the order of the columns */
}

/* Add these styles to your CSS file */
.dropdown-button {
  font-size: 18px;
  padding: 10px;
  font-family: "YourPreferredFont", sans-serif;
  background-color: #fef1f6;
  color: rgb(139, 0, 88);
  border-radius: 10%;
  cursor: pointer;
}

.dropdown-button.active {
  font-weight: bold;
}

.dropdown-content {
  background-color: rgb(252, 249, 249);
  border-top: none;
  border-radius: 50px;
}
