.ia-user-requests-container {
  margin: 20px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.ia-user-requests {
  display: grid;
  gap: 10px;
}

.ia-user-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
}

.ia-request-details {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.ia-serial-number {
  width: 10px;
  text-align: center;
  font-weight: bold;
}

.ia-user-profile-photo {
  width: 100%;
  height: 10%;
  overflow: hidden;
}

.ia-user-profile-photo img {
  width: 100px;
  height: 50%;
  object-fit: contain;
}

.ia-certificate-title,
.ia-user-info-name,
.ia-user-info-id,
.ia-request-date,
.ia-request-type {
  flex-grow: 1;
  margin-right: 10px;
  padding: 0 5px;
}

.ia-user-info-name {
  font-weight: bold;
}

.ia-user-info-id {
  color: #666;
}

.ia-request-date,
.ia-request-type {
  color: #666;
}

.ia-view-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ia-view-button:hover {
  background-color: #0056b3;
}

.ia-user-request-heading {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ia-field {
  padding: 10px;
  flex: 1;
  text-align: center;
  min-width: 150px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ia-field:last-child {
  border-right: none;
}
