/* Reset some default styles */
body, p {max-width: 100%;
  background-color:#fefeff;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Add this to prevent horizontal scrolling */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Global styles */


/* Section styles */
.home-banner {
  background-color: #41246D;
  padding: 60px 0;
  display: flex; /* Use flexbox to control the vertical alignment */
  align-items: flex-end; /* Align items to the bottom of the container */
}


.container {
  background-color: #41246D;
  max-width: 100%;
  margin: 0 auto;
 
  padding: 0 15px;
  overflow-x: hidden;
  overflow-y: hidden; 
}

/* Banner left styles */
.banner-left {
  position: relative;
  padding-right: 10px;
  display: flex;

  justify-content: left;
  flex-direction: row;
  text-align: left;
 
}
/* Image2 styles */
.image2-opacity {
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
}

/* Banner content styles */
.banner-content {
  background-color: #41246D;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.banner-title {background-color: #41246D;
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
 
}

.banner-text {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.banner-button {
  text-align: center;
}

.button-round-secondary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #F23F80;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s ease;
}

.button-round-secondary:hover {
  background-color: #820c37;
}

/* Banner right styles */
.banner-right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Image styles */
.banner-img {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.mobile-banner-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Background Image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Place it behind other content */
  width: 100%;
  height: auto;
}

/* Image container styles */
.image-container {
  position: relative;
  z-index: 1; /* Place it above the background image */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .banner-right {
    flex-direction: column;
  }

  .mobile-banner-img {
    max-width: 100%;
    height: auto;
  }
}
