.add-certificate-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  margin-top: 150px;
}
.add-certificate-registration-container {
  width: 60vh;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  position: relative;
  background-image: url("../../assets/educator.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}
.add-certificate-registration-header {
  background-color: #41246d;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 50px;
}

.add-certificate-registration-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.add-certificate-form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.add-certificate-form-group {
  margin-bottom: 15px;
}
.add-certificate-form input {
  margin: 8px 0 15px 0;
}
.add-certificate-form input[type="text"],
.add-certificate-form input[type="email"],
.add-certificate-form input[type="month"] {
  padding: 15px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  background-color: #f8f8f8;
}
.add-certificate-form textarea {
  padding: 15px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  background-color: #f8f8f8;
}
.add-certificate-form select {
  width: 50vh;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  color: #888;
}

.add-certificate-form input[type="file"] {
  position: relative;
  margin-left: 5px;
  margin-bottom: 15px;
}

.add-certificate-form input[type="file"]::file-selector-button {
  width: 145px;
  font-family: "Poppins", sans-serif;
  color: transparent;
}

.add-certificate-form input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

.add-certificate-form input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 8px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
  font-family: "Poppins", sans-serif;
}

.add-certificate-form input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

.add-certificate-form input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

.add-certificate-form input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.add-certificate-form input[type="text"]::placeholder,
.add-certificate-form input[type="email"]::placeholder,
.add-certificate-form textarea::placeholder {
  color: #888;
}
.add-certificate-button {
  background-color: #f24080;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
  transition: all 0.6s;
}

.add-certificate-button:hover {
  background-color: #a62464;
}
