.card-container {
  /* max-width: 80%; */
  max-height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-certificate-card-image {
  height: 200px;
  object-fit: cover;
}

.badge-success {
  background-color: green;
}

.badge-warning {
  background-color: yellow;
  color: black;
}

.badge-danger {
  background-color: red;
}

.card-container {
  margin-top: 5%;
}

.add-certificate {
  background-color: #f24080;
  color: white;
}
.add-certificate:hover {
  background-color: #f24080;
  color: white;
}
