.user-details-container {
  /* background-color: antiquewhite; */
  /* width: 80%; */
  /* margin: auto; */
  margin-top: 80px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 20px 3%; */
}

.user-details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid black; */
  margin: 30px auto;
  padding: 30px 0px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.03);
}

.user-details-image {
  width: 30%;
  margin-right: 20px;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.user-details-image img {
  width: 200px;
  height: 200px;
}
.user-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-container {
  padding: 0;
}
.edit-profile-button-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.edit-profile-button-div button {
  background-color: #f24080;
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
  border: none;
  cursor: pointer;
  /* margin-top: -40px; */
  /* width: 120px; */
}

.dashboard-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  list-style-type: none;
}
.dashboard-navbar-item {
  list-style-type: none;
}
.dashboard-navbar-link {
  background-color: white;
  color: #000;
  border: 1px solid white;
  font-size: 15px;
  line-height: 1.1;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 25px;
}
.dashboard-navbar-link:hover {
  background-color: #41246d;
  border: 1px solid #41246d;
  color: #ffffff;
}
.dashboard-navbar-link.active {
  background-color: #41246d;
  color: #ffffff;
}
